<div class="content">
  <div class="personal-info">
    <div class="headshot employee">
      <%= image_tag @employee.avatar.url(:medium) %>
    </div>
    <div class="personal-details">
      <h1><%= @employee.full_name %></h1>
      <div class="sub"><%= @employee.roles_list %></div>
      <div class="row">
        <div class="label">Availability:</div>
        <div class="value"><%= @employee.availability_list %></div>
      </div>
      <div class="row">
        <div class="label">Contact:</div>
        <div class="value"><%= @employee.phone_list %></div>
      </div>
      <div class="row">
        <div class="label">Preferred name:</div>
        <div class="value"><%= @employee.common_name %></div>
      </div>
      <div class="row">
        <div class="label">English skills:</div>
        <div class="value"><%= @employee.english_proficiency %></div>
      </div>
    </div>

    <div class="actions">
      <% if current_employer.employees.include?(@employee) %>
        <%= link_to "Edit", edit_employee_path(@employee), class: "button small" %>
      <% else %>
        <%= link_to "I've employed #{@employee.common_name}", employments_path(employee_id: @employee.id), method: :post, class: "button small" %>
      <% end %>
    </div>
  </div>

  <div class="history">
    <div class="top">
      <div class="label"><h2>Work history</h2></div>
    </div>
    <%= render @employee.employments %>
  </div>
</div>