<%= div_for employment, class: "list-item" do %>
  <div class="section name">
    <%= image_tag employment.employee.avatar.url(:thumb) %><%= employment.employee_full_name %>
  </div>
  <div class="section duration"><%= employment.date_range_string %></div>
  <div class="section actions">
    <%= link_to "View", employee_path(employment.employee), class: "small button" %>
    <%= link_to "Update", edit_employment_path(employment), class: "small button" %>
  </div>
<% end %>