<% params['id'] == 'home' ? nav_class = 'top-nav light' : nav_class = 'top-nav'  %>
<div class="<%= nav_class %>">
  <div class="inner">
    <% if current_user %>
      <ul class="menu">
        <li>
          <%= link_to current_employer do %>
            <%= image_tag current_employer.avatar_url, id: "current-employer-avatar" %>
            <%= current_user.employer.first_name %>
          <% end %>
        </li>
        <li><%= link_to "Search", employees_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <ul class="menu">
        <li><%= link_to "About", page_path(:about) %></li>
        <% if false %><li><%=link_to "Log in", new_user_session_path %></li><% end %>
        <% if false %><%= link_to "Sign up", new_user_registration_path %><% end %>
      </ul>
    <% end %>

    <%= link_to root_path do %>
      <div class="logo">Staff my House</div>
      <% if params['id'] == 'home' %>
        <%= image_tag "house.svg", class: "house" %>
      <% else %>
        <%= image_tag "house-dark.svg", class: "house" %>
      <% end %>
    <% end %>
  </div>
</div>